@model AddViewModel
@{
    ViewData["Title"] = "AddBrandsExtrasModels";
}

<h2>AddBrandsAndExtras</h2>
<div class="container">
    <partial name="_StatusMessage" model="@Model.StatusMessage" />
    <div class="row">
        <div class="col-md-4">
            <label>Extra</label>
            <form asp-area="Admin" asp-action="AddExtra" asp-controller="Admin" method="post">
                <input asp-for="Extra" type="text" id="value" placeholder="new extra" />
                <div>
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <label>Brand</label>
            <form asp-area="Admin" asp-action="AddBrand" asp-controller="Admin" method="post">
                <input type="text" placeholder="new brand" asp-for="Brand">
                <div>
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <form asp-area="Admin" asp-action="AddModel" asp-controller="Admin" method="post">
                <div>
                    <div class="form-group">
                        <label asp-for="@Model.Brands" class="control-label">Add Model</label>
                        <select asp-for="@Model.BrandId" asp-items="@Model.Brands" class="form-control model-scriptSelect"></select>
                        <span asp-validation-for="@Model.Brand" class="text-danger"></span>
                    </div>

                    <input asp-for="Model" type="text" placeholder="new model" />
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>