@{
    ViewData["Title"] = "ManageCars";
}

<h2>ManageCars</h2>

@model IList<CarViewModel>

<div class="row">
    @foreach (var car in Model)
    {
        var currentId = car.Id;
        <div class="col-md-4">
            <h3>@car.Id</h3>
            <p>Brand: <strong>@car.Brand</strong> </p>
            <p>Model: <strong>@car.CarModel</strong> </p>
            <p>Body type: <strong>  @car.BodyType</strong> </p>
            <p>Color: <strong> @car.Color</strong> </p>
            <p>Horse power: <strong> @car.HorsePower</strong> </p>
            <p>Fuel type: <strong> @car.FuelType </strong> </p>
            <p>Price: <strong> @car.Price $</strong> </p>
            <a class="btn btn-primary" asp-area="" asp-controller="Car" asp-action="Details" asp-route-id="@car.Id">Details</a>
            <a class="btn btn-default" asp-area="" asp-controller="Car" asp-action="Edit" asp-route-id="@currentId">Edit</a>
            <a asp-area="Admin" asp-controller="Admin" asp-action="Delete" asp-route-id="@car.Id" onclick="return confirm('Are you sure?')" class="btn btn-danger">Delete</a>
            <hr />
        </div>
    }
</div>
