@model Dealership.Web.Models.CarViewModel

<section>
    <div>
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="@Model.Brand" class="control-label">Brand</label>
                <label class="control-label">@Model.Brand</label>
            </div>
            <div class="form-group">
                <label asp-for="@Model.CarModel" class="control-label">Model</label>
                <label class="control-label">@Model.CarModel</label>
            </div>
            <div class="form-group">
                <label asp-for="@Model.EngineCapacity" class="control-label">Engine capacity</label>
                <label class="control-label">@Model.EngineCapacity</label>
            </div>
            <div class="form-group">
                <label asp-for="@Model.HorsePower" class="control-label">Horse power</label>
                <label class="control-label">@Model.HorsePower</label>
            </div>
            <div class="form-group">
                <label asp-for="@Model.GearBoxType" class="control-label">Gearbox type</label>
                <label class="control-label">@Model.GearBoxType</label>
            </div>
            <div class="form-group">
                <label asp-for="@Model.NumberOfGears" class="control-label">Number of gears</label>
                <label class="control-label">@Model.NumberOfGears</label>
            </div>
            <div class="form-group">
                <label asp-for="@Model.BodyType" class="control-label">Body type</label>
                <label class="control-label">@Model.BodyType</label>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Color" class="control-label"></label>
                <label class="control-label">@Model.Color</label>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ColorType" class="control-label">Color type</label>
                <label class="control-label">@Model.ColorType</label>
            </div>
            <div class="form-group">
                <label asp-for="@Model.FuelType" class="control-label">Fuel type</label>
                <label class="control-label">@Model.FuelType</label>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Price" class="control-label"></label>
                <label class="control-label">@Model.Price</label>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ProductionDate" class="control-label">Production date</label>
                <label class="control-label">@Model.ProductionDate</label>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Mileage" class="control-label"></label>
                <label class="control-label">@Model.Mileage</label>
            </div>
        </div>
    </div>
</section>