
@model Dealership.Web.Models.CarViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Car details</h2>

<div>
    <h3>Id: <strong>@Model.Id</strong></h3>
    <p>Year:<strong> @Model.ProductionDate.Year</strong></p>
    <p>Brand:<strong> @Model.Brand</strong></p>
    <p>Model:<strong> @Model.CarModel</strong></p>
    <p>Body type:<strong> @Model.BodyType</strong></p>
    <p>Engine capacity:<strong> @Model.EngineCapacity</strong></p>
    <p>Horse power:<strong> @Model.HorsePower</strong></p>
    <p>Color:<strong> @Model.Color (@Model.Color)</strong></p>
    <p>Gearbox:<strong> @Model.GearBoxType (@Model.GearBoxType) gears</strong></p>
    <p>Price:<strong> @Model.Price $</strong></p>

    <a class="btn btn-default" asp-controller="Car" asp-action="Index">Back</a>
    </div>
<div>
    <a asp-controller="Car" asp-action="Edit/@Model.Id">Edit</a> |
    <a asp-action="Browse">Back to List</a>
</div>
