@model Dealership.Web.Models.CarViewModel
@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<h2>Car details</h2>

@await Html.PartialAsync("_StatusMessage", Model.StatusMessage)

<div class="container">
    <div class="col-sm-6">
        @await Html.PartialAsync("_CarImagesPartial", Model.ImagesUrl)
    </div>

    <div class="info col-sm-6">
        <div class="row center-align">
            <div class="col-sm-4 h3"> @Model.Brand @Model.CarModel</div>
            <div class="col-sm-2">
                @if (Model.IsFavorite)
                {
                    <a asp-controller="User" asp-action="RemoveFromFavorites" asp-route-id="@Model.Id" class="fas fa-star fa-2x center-align"></a>
                    <label for="RemoveFromFavorites">Remove</label>
                }
                else
                {
                    <a asp-controller="User" asp-action="AddToFavorites" asp-route-id="@Model.Id" class="far fa-star fa-2x center-align"></a>
                    <label for="RemoveFromFavorites">Save</label>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">Price</div>
            <div class="col-sm-3">@Model.Price</div>
        </div>
        <div class="row">
            <div class="col-sm-3">First registration</div>
            <div class="col-sm-3">@Model.ProductionDate.ToShortDateString()</div>
        </div>
        <div class="row">
            <div class="col-sm-3">Мileage</div>
            <div class="col-sm-3">@Model.Mileage</div>
        </div>
        <div class="row">
            <div class="col-sm-3">Fuel type</div>
            <div class="col-sm-3">@Model.FuelType</div>
        </div>
        <div class="row">
            <div class="col-sm-3">Gearbox</div>
            <div class="col-sm-3">@Model.GearBoxType</div>
        </div>
        <div class="row">
            <div class="col-sm-3">Gears</div>
            <div class="col-sm-3">@Model.NumberOfGears</div>
        </div>
        <div class="row">
            <div class="col-sm-3">Power</div>
            <div class="col-sm-3">@Model.HorsePower hp</div>
        </div>
        <div class="row">
            <div class="col-sm-3">Engine capacity</div>
            <div class="col-sm-3">@Model.EngineCapacity</div>
        </div>
        <div class="row">
            <div class="col-sm-3">Body type</div>
            <div class="col-sm-3">@Model.BodyType</div>
        </div>
        <div class="row">
            <div class="col-sm-3">Color</div>
            <div class="col-sm-3">@Model.Color</div>
        </div>
        <div class="row">
            <div class="col-sm-3">Color type</div>
            <div class="col-sm-3">@Model.ColorType</div>
        </div>
    </div>
</div>

<div>
    <a asp-controller="Car" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>

    @Html.ActionLink("Delete", "DeleteAction", "Car", new { confirm = true, id = Model.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Do you really want to delete this product?')" })



    <a asp-controller="Car" asp-action="Browse" class="btn btn-block">Back to List</a>

    <i class=""></i>

</div>
