@model CarViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

@{
    var cBrand = Model.Brand;
    var cModel = Model.CarModel;
    var cProdDate = Model.ProductionDate.ToShortDateString();
    var price = Model.Price;
    var cHorserPower = Model.HorsePower;
    var cNumberOfGears = Model.NumberOfGears;
    var cEngineCapacity = Model.EngineCapacity;
    var cGearboxes = Model.GearTypes;
    var cColorTypes = Model.ColorTypes;
    var cColor = Model.Color;

}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductionDate" class="control-label">Production date</label>
                <input asp-for="ProductionDate.Date" value="@cProdDate" class="form-control" />
                <span asp-validation-for="ProductionDate" class="text-danger"></span>
                
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" value="@Model.Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.CarModel" class="control-label">Model</label>
                <input asp-for="@Model.CarModel" value="@Model.CarModel" class="form-control" />
                <span asp-validation-for="@Model.CarModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EngineCapacity" class="control-label">Engine capacity</label>
                <input asp-for="EngineCapacity" value="@cEngineCapacity" class="form-control" />
                <span asp-validation-for="EngineCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorsePower" class="control-label">Horse power</label>
                <input asp-for="HorsePower" value="@Model.HorsePower" class="form-control" />
                <span asp-validation-for="HorsePower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GearBoxType" class="control-label">Gearbox type</label>
                <select asp-for="GearBoxType" asp-items="@cGearboxes"></select>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfGears" class="control-label">Number of gears</label>
                <input asp-for="NumberOfGears"  value="@cNumberOfGears" class="form-control" />
                <span asp-validation-for="NumberOfGears" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BodyType" class="control-label">Body type</label>
                <select asp-for="BodyType" asp-items="Model.BodyTypes"></select>
                <span asp-validation-for="BodyType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Color" class="control-label">Color</label>
                <input asp-for="Color" value="@cColor">
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorType" class="control-label">Color type</label>
                <select asp-for="ColorType" asp-items="Model.ColorTypes"></select>
                <span asp-validation-for="ColorType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuelType" class="control-label">Fuel type</label>
                <select asp-for="FuelType" asp-items="Model.FuelTypes"></select>
                <span asp-validation-for="FuelType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" value="@Model.Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

